body{
    font:20px Arial, sans-serif;
}

.navbar{
    background-color: lightgray;
}

.quemsomos{
    background-color: lightblue;
    color: green;
}

.margin{
   padding-bottom:50px;
   padding-top:10px;
}

.parceiros{
    background-color: lightgreen;
}
.fundo{
    background-color: black;
    color: white;
}