body{
    font:20px Arial, sans-serif;
}

.navbar, .parceiros{
    background-color:  rebeccapurple;
    color: #FFFFFFFF;
}
.navbar-light .navbar-nav .nav-link {
    color:#FFFFFFFF;
}
.quemsomos, .servicos{
    background-color:#FFFFFFFF;
    color:rebeccapurple;
}

.margin{
   padding-bottom:50px;
   padding-top:10px;
}
.fundo{
    background-color: black;
    color: #FDFDFD;
}